body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: rgb(2,0,36);
    padding: 5rem;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 10%, rgba(0,212,255,1) 100%);
}
#result {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}
h1 {
    color: #4CAF50;
}
p {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}
.high-five {
    font-size: 50px;
    margin-top: 20px;
}
